<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.lynx">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme">
        <activity
            android:name=".control.activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".control.activity.MainActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".control.activity.ListaClientesActivity"
            android:parentActivityName=".control.activity.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustNothing">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchble"
                android:resource="@xml/searchble" />
        </activity>

        <activity
            android:name=".control.misc.ClienteVerificacaoActivity"
            android:screenOrientation="nosensor" />

        <activity
            android:name=".control.misc.PreferenciaActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.Activity_OrdersMain"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.Activity_MenuComm"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.Comunicacao"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.ListaPedidos"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.ResumoPedidos"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.PesquisaProduto"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.ClienteDetalheActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.TituloActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.DetalhePedido"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.HistoricoVenda"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.HistoricoVendaItem"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.Relatorios"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.Meta"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.ListaCampanha"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.ListaDevolucao"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.MaioresQuedas"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.EquipamentoActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.PesquisaActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.PesquisaCheckout1A4Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.PesquisaCheckoutMais5Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.PesquisaPrecoActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.PesquisaCheckoutActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.Activity_InfoQueda"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.ComparaVolume_Activity"
            android:screenOrientation="nosensor" />
        <activity android:name=".control.activity.ClienteCampanhaActivity" />

        <activity
            android:name=".control.misc.PesquisaEquipamentoActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.PesquisaSubcanalActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.PesquisaCervejaActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashMainActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashMetaCategoriaActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashCoberturaActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashDevolucaoActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashTop10Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashQuedasActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashProjetosActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashPrazoFemsaActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashArrastaoActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashDesafioActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashEquipamentoActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashPositivacaoActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashUltimasDevolucoesActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.FlashBig4Activity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.ConfirmaItemActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.misc.ExemploGrafico"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.AcompanhamentoPedidosActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.AcompanhamentoPedidosSetorActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.AcompanhamentoPedidosVendedorActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.ListaProdutoActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".control.activity.ManutencaoPedidoActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".control.activity.AvaliacaoPDVNGActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".control.activity.AvaliacaoPDVNGResumoActivity"
            android:screenOrientation="nosensor"
            android:windowSoftInputMode="adjustResize" />

        <service android:name=".misc.CommService" />
    </application>

</manifest>